* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
header {
  background-color: grey;
  padding: 17px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.big-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Epic-game {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 33px;
}
h2 {
  color: white;
}
.box {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration-line: none;
}
.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.men-haqimda {
  color: white;
}
.mening-rasmim {
  margin-top: 50px;
}
img {
  border-radius: 10px;
}
.loyhalarim1 {
  display: flex;
  width: 1350px;
  align-items: center;

  gap: 70px;
}
.yozuvlar {
  color: white;
  width: 300px;
}
.loyhalarim2 {
  display: flex;
  width: 1350px;
  align-items: center;
  gap: 70px;
  padding-top: 100px;
}
.loyhalarim3 {
  display: flex;
  width: 1350px;
  align-items: center;

  gap: 70px;
  padding-top: 100px;
}

